<% include partials/header  %>

<h1>hello this is new </h1>

<form action="/findus"  method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="breed" name="breed">
  <input type="text" placeholder="image url" name="image">
  <button>Submit</button>
</form>
<a href="/findus">Back</a>
<% include partials/footer  %>
