<% include partials/header  %>
<br>
<h1>Let us help you to find your loved ones </h1>

<hr>
<br>

<div class="container">


<form action="/findus"  method="POST">
  <!-- <div class="form-group row">
  <input type="text" placeholder="name" name="name">

  </div>
  <input type="text" placeholder="breed" name="breed">
  <input type="text" placeholder="image url" name="image">
  <button>Submit</button> -->

  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">Name</label>
    <div class="col-10">
      <input class="form-control" type="text"  placeholder="name" name="name" id="example-search-input">
    </div>
  </div>

  <div class="form-group row">
      <label for="example-search-input" class="col-2 col-form-label">Breed</label>
      <div class="col-10">
        <input class="form-control" type="text"  placeholder="breed" name="breed" id="example-search-input">
      </div>
    </div>

    
    <div class="form-group row">
        <label for="example-search-input" class="col-2 col-form-label">Image</label>
        <div class="col-10">
          <input class="form-control" type="text"   placeholder="image url" name="image" id="example-search-input">
        </div>
      </div>
    
      <div class="form-group row">
        <div class= "col-4">
          <button  class="btn btn-success" >Submit</button>
        </div>
        <div class= "col-4">
            <button  class="btn btn-danger" >Cancel</button>
          </div>
        </div>

</form>
</div>
<a href="/findus">Back</a>
<% include partials/footer  %>
